{% extends "base.html" %}

{% block title %} &#129365; Re:Recipes {% endblock %}

{% block content %}
<div id="results" class="results">
    {% for recipe in recipes %}
    <div class="card mb-2 shadow">
        <div class="card-body">
            <a href="http://{{recipe.link}}" target="_blank" class="card-title recipe-title" ><i class="fa-solid fa-cutlery me-3"></i>{{recipe.name}}</a>
            <hr>
            <h5 class="card-text text-primary" style="font-weight: 600;">Ingredients</h5>
            <div class="ms-4">
                {% for i in recipe.ingredients %}<p class="card-text">{{i}}</p>{% endfor %}
            </div>
            <h5 class="card-text mt-2 text-primary" style="font-weight: 600;"">Steps</h2>
                <div class="ms-4">
                    {% for i in range(recipe.directions|length) %}<p class="card-text">{{i+1}}.&nbsp;&nbsp;&nbsp;&nbsp;{{recipe.directions[i]}}</p>{% endfor %}
                </div>
        </div>
    </div>
    {% endfor %}
    <!-- No recipes found -->
    {% if query and not recipes%}
    <div class="fade-in-div">
        <h5 class="d-block" style="font-weight: bold">Hey&#128075;</h5>
        <span class="d-block" >We couldn't find any recipes that match your ingredients... Try changing your ingredient list to plan your next meal with us!</span>    
    </div>
   {% endif %}
</div>
{% endblock %}