.welcome {
    position: relative;
    font-size: 52px;
    padding: 30px 50px;
    font-weight: bold;
    color: rgb(10, 10, 50);
}

.ly-bg {
    background-color: rgb(255, 225, 190)
}

.search-area {
    display: flex;
    flex-flow: column;
    margin: 0px 50px;
}

.question-label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

#chips {
    margin: 10px 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: white;
}

.chip {
    background-color: rgb(10, 10, 50);
    border-radius: 10px;
    justify-content: center;
    height: 35px;
    padding: 4px 6px;
}

.chip-x {
    border: none;
    background-color: transparent;
    color: white;
    vertical-align: middle;
}

.chip-x:hover {
    color: lightcoral;
}

.results {
    box-sizing: border-box;
    margin: 0px 50px;
    display: flex;
    flex-flow: row wrap;
    /* align-content: stretch; */
    align-items: flex-start;
    justify-content:space-between;
    /* gap: 10px; */
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

.card {
    max-width: 45vw;
    flex-grow: 1;
    animation: fadeIn 0.7s ease-in
}

.padd {
    height: 100px;
}

#page-logo {
    top:50%;
    transform: translateY(-50%);
}

@keyframes hop {
    0% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(-50%)
    }
}
#page-logo.anim {
    animation-name: hop;
    animation-duration: 0.8s;
}

#submit {
    font-weight: bold;
    transition: 200ms;
}

#submit:active {
    transition: 200ms;
    transform: translateY(10%);
}
@keyframes fadeInSlide {
    0% { 
        opacity: 0; 
        transform: translateX(-10%);
    }
    100% { 
        opacity: 1; 
        transform: translateX(0%);
    }
}
.fade-in-div * {
    animation: fadeInSlide 1s
}

.recipe-title {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
}

.recipe-title:hover{
    text-decoration: 1px underline
}